.resume-wrap {
 

}

.Resume {
    width: 100%;
    
    padding: 0px 40px 30px 40px;
    gap: 30px;
    overflow: hidden;
    color: white;
    padding-top: 30px;
}


.column-wrap {

    width: 50%;
}



.social_bottom {
    display: none;
}

@media only screen and (max-width: 600px) {
    .long-resume {
        display: flex;
        flex-direction: column !important;
        width: 100%;
    }

    .column-wrap {
        width: 100% !important;
    }


}

@media screen and (max-width: 990px) {
    .social_bottom {
        display: block;
    }
}